.site-generate-html{
    .total-number, .total-a-number, .total-n-number, .total-p-number{
        font-size: 1.5rem;
    }
    .total-number{
        color: blue;
    }
    .total-a-number{
        color: violet;
    }
    .total-n-number{
        color: yellowgreen;
    }
    .total-p-number{
        color: goldenrod;
    }
}